.bet{
	background: #efc110;
    padding: 10px 11px;
    border-radius: 8px;
    font-size: 19px;
    font-weight: 800;
    color: white;
    margin-right: 15px;
}
.bet1{
	    font-weight: 500;
    text-align: justify;
    font-size: 20px;
    letter-spacing: 1px;
    color: #33335d;
        line-height: 33px;
}
.bet2{
	font-size: 24px;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 700;
    
    margin-bottom: 20px;
}
.bet3{
	background: #8e52ef;
    padding: 10px 11px;
    border-radius: 8px;
    float: left;
    font-size: 19px;
    font-weight: 800;
    color: white;
    margin-right: 15px;
}
.bet4{
	 font-weight: 400;
    text-align: justify;
    font-size: 17px;
    font-family: inherit;
    /* letter-spacing: 1px; */
    color: #60606f;
}